.nav {
    text-transform: uppercase;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav__item {
    margin-right: 10px;
    margin-left: 10px;
}

.nav__link {
    display: inline-flex;
    align-items: center;
    min-height: 44px;
    min-width: 44px;
    color: $text-color-invert;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    transition: color 0.3s;
    text-decoration: none;
}

.nav__link:hover {
    color: $text-color;
}
