.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social__list {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.social__item:not(:last-child) {
    margin-right: 15px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social__img {
    height: 34px;
    width: 34px;
    transition: filter 0.3s;

    .social__link:hover & {
        filter: contrast(100%) brightness(0%);
    }
}
