html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

button:not(:disabled) {
    cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit;
    letter-spacing: inherit;
}

address {
    font-style: normal;
}
