<div class="{{mod}} social">
    <ul class="social__list">
        <li class="social__item">
            <a class="social__link"
                href="https://www.youtube.com/channel/UCGEs2qk0iHL3aziI2LHveLA"
                target="_blank"
                rel="nofollow noopener"
                title="YouTube">

                <img class="social__img"
                    src="img/icons/youtube-v1.png"
                    width="34"
                    height="34"
                    alt="YouTube">
            </a>
        </li>

        <li class="social__item">
            <a class="social__link"
                href="https://www.facebook.com/Kagayaku-Karate-625738671230510/"
                target="_blank"
                rel="nofollow noopener"
                title="Facebook">

                <img class="social__img"
                    src="img/icons/facebook-v1.png"
                    width="34"
                    height="34"
                    alt="Facebook">
            </a>
        </li>

        <li class="social__item">
            <a class="social__link"
                href="https://www.instagram.com/dr._artur_aloyan/"
                target="_blank"
                rel="nofollow noopener"
                title="Instagram">

                <img class="social__img"
                    src="img/icons/instagram-v1.png"
                    width="34"
                    height="34"
                    alt="Instagram">
            </a>
        </li>
    </ul>
</div>
